<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>helper_apps</key>
    <dict>
        <key>DTML Document</key>
        <dict>
            <key>extension</key>
            <string>.dtml</string>
            <key>editor</key>
            <string>TextEdit</string>
        </dict>
        <key>DTML Method</key>
        <dict>
            <key>extension</key>
            <string>.dtml</string>
            <key>editor</key>
            <string>TextEdit</string>
        </dict>
        <key>Script (Python)</key>
        <dict>
            <key>extension</key>
            <string>.py</string>
            <key>editor</key>
            <string>TextEdit</string>
        </dict>
        <key>Page Template</key>
        <dict>
            <key>extension</key>
            <string>.html</string>
            <key>editor</key>
            <string>TextEdit</string>
        </dict>
        <key>Z SQL Method</key>
        <dict>
            <key>extension</key>
            <string>.sql</string>
            <key>editor</key>
            <string>TextEdit</string>
        </dict>
        <key>image/gif</key>
        <dict>
            <key>extension</key>
            <string>.gif</string>
            <key>editor</key>
            <string>Preview</string>
        </dict>
        <key>image/jpeg</key>
        <dict>
            <key>extension</key>
            <string>.jpg</string>
            <key>editor</key>
            <string>Preview</string>
        </dict>
        <key>image/png</key>
        <dict>
            <key>extension</key>
            <string>.png</string>
            <key>editor</key>
            <string>Preview</string>
        </dict>
        <key>image/*</key>
        <dict>
            <key>editor</key>
            <string>Preview</string>
        </dict>
        <key>text/html</key>
        <dict>
            <key>extension</key>
            <string>.html</string>
            <key>editor</key>
            <string>TextEdit</string>
        </dict>
        <key>text/xml</key>
        <dict>
            <key>extension</key>
            <string>.xml</string>
            <key>editor</key>
            <string>TextEdit</string>
        </dict>
        <key>text/*</key>
        <dict>
            <key>extension</key>
            <string>.txt</string>
            <key>editor</key>
            <string>TextEdit</string>
        </dict>
        <key>application/msword</key>
        <dict>
            <key>editor</key>
            <string>Microsoft Word</string>
            <key>extension</key>
            <string>.doc</string>
        </dict>
        <key>application/vnd.ms-excel</key>
        <dict>
            <key>editor</key>
            <string>Microsoft Excel</string>
            <key>extension</key>
            <string>.xls</string>
        </dict>
        <key>application/vnd.ms-powerpoint</key>
        <dict>
            <key>editor</key>
            <string>Microsoft PowerPoint</string>
            <key>extension</key>
            <string>.ppt</string>
        </dict>
        <key>application/vnd.openxmlformats-officedocument.spreadsheetml.sheet</key>
        <dict>
            <key>editor</key>
            <string>Microsoft Excel</string>
            <key>extension</key>
            <string>.xlsx</string>
        </dict>
        <key>application/vnd.openxmlformats-officedocument.wordprocessingml.document</key>
        <dict>
            <key>editor</key>
            <string>Microsoft Word</string>
            <key>extension</key>
            <string>.docx</string>
        </dict>
        <key>application/vnd.openxmlformats-officedocument.presentationml.presentation</key>
        <dict>
            <key>editor</key>
            <string>Microsoft PowerPoint</string>
            <key>extension</key>
            <string>.pptx</string>
        </dict>
        <key>application/pdf</key>
        <dict>
            <key>editor</key>
            <string>Preview</string>
            <key>extension</key>
            <string>.pdf</string>
        </dict>
        <key>application/vnd.oasis.opendocument.text</key>
        <dict>
            <key>editor</key>
            <string>LibreOffice</string>
            <key>extension</key>
            <string>.odt</string>
        </dict>
        <key>applications/odt</key>
        <dict>
            <key>editor</key>
            <string>LibreOffice</string>
            <key>extension</key>
            <string>.odt</string>
        </dict>
    </dict>
    <key>save_interval</key>
    <real>2.0</real>
    <key>confirm_on_finish</key>
    <true/>
    <key>cleanup_files</key>
    <true/>
    <key>use_locks</key>
    <true/>
    <key>always_borrow_locks</key>
    <true/>
    <key>version_check</key>
    <string>0.9</string>
</dict>
</plist>
